img.mb-2.h-36.w-36.rounded-full {
    box-sizing: border-box;
    border: 4px solid #ffffff;
    padding: 4px;
    object-fit: cover;
    transform: none;
}
body {
    background: linear-gradient(135deg,#242424,#000000); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}